<div class="row">
	<div class="col-md-9">
		<%= render partial: 'shared/action_panel' %>
	</div>
	<div class="col-md-3">
		<div class="content-block">
			<ul class="list-group"><h3>Create</h3>
				<%= link_to new_music_path, remote: true, class:"remote-link" do %><li class="list-group-item">Upload a Track</li><% end %>
				<%= link_to new_venue_path, class: "remote-link", remote:true do %><li class="list-group-item">New Venue</li><% end %>
			</ul>
		</div>
	</div>
</div>