<div class="content-block">
	<h3 class="underlined-header">Welcome to DogeRadio!</h3>
	<p><strong>Wow!</strong> - Discover local events from new and upcoming artists.</p>
	<p><strong>Global and Frictionless</strong> - Dogecoin can be accepted anywhere all over the world (and beyond).</p>
	<p><strong>Discretion on Your Terms</strong> - Choose to embrace anonymitiy or announce to the artist (and the DogeRadio community) that you’ve made a contribution.</p>
</div>