<div class="content-block">
	<h3 class="underlined-header">Welcome to DogeRadio!</h3>
	<p><strong>Wow!</strong> - Discover local events from new and upcoming artists.</p>
	<p><strong>Global and Frictionless</strong> - Dogecoin can be accepted anywhere all over the world (and beyond).</p>
	<p><strong>Privacy When You Want It</strong> - Donate anonymously or let artists know you love them.</p>
	<h5>Check out the <strong><%= link_to "status log", "https://docs.google.com/document/d/1WRNBUZ-hMdhQyL7ToAqVf6qHEYQTVkl03blmMPZvKSo/edit?usp=sharing", target: "_blank" %></strong> for development details. And feel free to <strong><%= link_to "contact us", "/contact-us", remote: true %></strong> to provide feedback, ask questions, or if you want to help!</h5>
</div>