<div class="content-block">
	<ul class="nav nav-tabs" id="tabs">
		<li class="tab-item"><%= link_to local_users_path, data: {toggle: "tab", target: "#users"}, remote: true do %>Users<% end %></li>
		<li class="tab-item"><%= link_to top_tracks_path, data: {toggle: "tab", target: "#tracks"}, remote: true do %>Tracks<% end %></li>
		<li class="tab-item"><%= link_to events_path, data: {toggle: "tab", target: "#events"}, remote: true do %>Events<% end %></li>
		<li class="tab-item"><%= link_to local_venues_path, data: {toggle: "tab", target: "#venues"}, remote: true do %>Venues<% end %></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane" id="users"></div>
		<div class="tab-pane" id="tracks"></div>
		<div class="tab-pane" id="events"></div>
		<div class="tab-pane" id="venues"></div>
	</div>
</div>