<%= form_for track, remote: true, id: "rename_"+track.id.to_s, class: "form-inline rename-form", role:"form" do |f| %>
	<div class="form-group">
		<%= f.text_field :name, placeholder: placeholder, class: "form-control" %>
	</div>
	<%= f.submit "Rename", class: "btn btn-block btn-default" %>
<% end %>
