<% tracks.each do |track| %>
	<%= link_to playlist_ranks_path(@playlist, track_id: track.id), method: :post, remote: true, class: "list-group-item media", style:"margin-bottom:1px; margin-top:0" do %>
			<span class="badge" style="background-color:white"><span class="glyphicon glyphicon-plus" style="color:green"></span></span>
			<span class="pull-left">
				<%=image_tag track.user.avatar.url(:tinythumb), class: "media-object" %>
			</span>
			<div class="media-body">
				<p><strong><%= track.name %></strong></p>
				<p><%=track.user.display_name %></p>
			</div>
	<% end %>
<% end %>
