<style type="text/CSS">
  .simple_captcha{

  }
  .simple_captcha,
  .simple_captcha div{display: table;}
  .simple_captcha .simple_captcha_field,
  .simple_captcha .simple_captcha_image{
    width: 100%;
    border: 1px solid #ccc;
    margin: 0px 0px 2px 0px !important;
    padding: 0px !important;
    text-align:center;
  }
  .simple_captcha .simple_captcha_label {
    font-weight:bold;
    margin-bottom:10px;
  }
  .simple_captcha .simple_captcha_image {
    text-align:left;
  }
  .simple_captcha .simple_captcha_image img{
    margin: 0px !important;
    padding: 0px !important;
    width: 110px !important;
  }
  .simple_captcha .simple_captcha_field{
    border: none;
  }
  .simple_captcha .simple_captcha_field input{
    width: 100%;
    height: 46px;
    font-size: 18px;
    border: none;
    padding:10px 16px;
    background-color: inherit;
    line-height: 1.33;
    border-radius: 6px;
    border: 1px solid #cccccc;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  .simple_captcha .simple_captcha_field input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
</style>
<div class='simple_captcha col-sm-12'>
  <div class='simple_captcha_label'>
    <%= simple_captcha_options[:label] %>
  </div>
  <div class="col-sm-10 col-sm-offset-2" style="padding-left:0; padding-right:0">
    <div class='simple_captcha_image'>
      <%= simple_captcha_options[:image] %>
    </div>

    <div class='simple_captcha_field'>
      <%= simple_captcha_options[:field] %>
    </div>
  </div>
</div>