$("#action-panel").html("<h2>Wow'd Tracks</h2><% if @favorite_tracks.exists? %><%=j render partial: 'tracks/track_list_with_avatar', locals:{tracks: @favorite_tracks}%><% else %><p>You have no wowed tracks!</p><% end %>").slideDown();
