$('.payout').html("<p class='alert alert-success'>Your coins are on their way! Please allow up to 24 hours for processing.</p>");
$('.balance').html("<%= j current_user.balance.to_i.to_s %>");
$('#balance').html("<%= j current_user.balance.to_i.to_s %>");
