<%= form_tag update_location_path, class: 'form-inline', role: "form", remote: true do %> 
	<div class="form-group">
		<%= text_field_tag :location, nil, placeholder: 'Search location', class:"form-control input-sm" %>
	</div>
	<%= button_tag type: "submit", class: "btn btn-primary btn-md" do %>
		<span class="glyphicon glyphicon-map-marker"></span>
	<% end %>
<% end %>
