<input type= "hidden" id="sidebar_status" value="events">
<div class="content-block" id="local-events" style="min-height:100px;">
	<%= render partial: 'events/local_events', locals: {events: @local_events } %>
</div>