<% unless my_song?(track) %>
	<div class="favorite_form_<%=track.id%>" style="display:inline-block;">
		<% if current_user.favorite?(track) %>
			<%= render partial: 'shared/unfavorite', locals: {track: track} %>
		<% else %>
			<%= render partial: 'shared/favorite', locals: {track: track} %>
		<% end %>
	</div>
<% end %>
