<% unless current_user?(user) %>
	<div id="follow_form_<%=user.id%>" style="position: absolute; right: 10px; top:80px">
		<% if current_user.following?(user) %>
			<%= render partial: 'shared/unfollow', locals: {user: user} %>
		<% else %>
			<%= render partial: 'shared/follow', locals: {user: user} %>
		<% end %>
	</div>
<% end %>
