<%= form_tag 'search', class: 'navbar-form navbar-right', role: "search", remote: true do %> 
	<div class="form-group">
		<%= hidden_field :search, :type, value: 'all' %>
		<%= search_field :search, :query, placeholder: "Search", class:"form-control input-sm" %>
	</div>
	<%= button_tag type: "submit", class: "btn btn-primary btn-sm", style: "margin-left:-5px;" do %>
		<span class="glyphicon glyphicon-search"></span>
	<% end %>
<% end %>
