<div class="col-xs-12 col-sm-4 sidebar-offcanvas" id="sidebar">
	<div class="content-block">
		<button type="button" id="minimize-sidebar" class="btn btn-default btn-xs size-button"><span class="glyphicon glyphicon-resize-small"></span></button>
		<%= render partial: 'shared/ticker' %>
		<div id="player">
			<% if @track %>
				<%= render partial: "tracks/player", locals: {track:@track, position:@player_position} %>
			<% else %>
				<%= render partial: "tracks/empty_player" %>
			<% end %>
		</div>
		<%= render partial: "shared/playlist" %>
	</div>
</div>
<script>
	$("#sidebar").slideDown();
</script>