<div class="col-xs-12 col-sm-4 sidebar-offcanvas" id="sidebar">
	<div class="content-block">
		<%= render partial: 'shared/ticker' %>
		<div id="player">
			<% if @track %>
				<%= render partial: "tracks/player", locals: {track:@track, position:@player_position} %>
			<% else %>
				<%= render partial: "tracks/empty_player" %>
			<% end %>
		</div>
		<%= render partial: "shared/playlist" %>
	</div>
</div>
