<div id="scrollingText">
	<% @transactions.each do |transaction| %>
		<p><%= transaction.payer.display_name %>(<%=transaction.value%>D)<span class="glyphicon glyphicon-arrow-right"></span><%= transaction.payee.display_name %></p>
	<% end %>
</div>
