<h3><%= link_to event.name, event, remote: true, class: "remote-link" %></h3>
<p><small><%= link_to event.venue.name, event.venue, remote: true, class: "remote-link" %></small></p>
<p><%= event.moment.to_date.to_s(:long_ordinal)+" at "+event.moment.strftime("%I:%M %p") if event.moment %></p>