<%= render partial: "event_with_details", locals: { event: @event } %>
<%= button_to new_event_user_path(@event), method: :get, remote: true, class: "btn btn-primary" do %>Add Artist <span class="glyphicon glyphicon-user"></span><% end %>