<% if @events.exists? %>
	$("#action-panel").html("<h3>Local Events</h3><%=j render @events %>").slideDown();
<% else %>
	$("#action-panel").html("<h3>Local Events</h3><p>There are no local events.</p>").slideDown();
<% end %>