<div class="content-block">
	<h3>Top-Rated Nearby Concert Venues</h3>
	<ul>
		<% @yelp_response.each do |response| %>
			<li><%= link_to response["name"], 'javascript:;', class:'yelp-response', data:{name:response["name"], street: response["location"]["address"].first, city: response["location"]["city"], state: response["location"]["state_code"], zipcode: response["location"]["postal_code"], country: response["location"]["country_code"], image_url: response["image_url"]} %></li>
		<% end %>
	</ul>
</div>
