<h3><%= venue.name %></h3>
<p><small><%= venue.address %></small></p>
<p><%= html_escape(venue.description).gsub(/\n/, '<br />').html_safe %></p>
<div style="width:100%">
	<div id="map" style="width:100%; height:200px;"></div>
</div>