<h3><%= link_to venue.name, venue, class: "remote-link", remote: true %></h3>
<p><%= html_escape(venue.description).gsub(/\n/, '<br />').html_safe %></p>
<p><%= venue.address %></p>
<div style="width:200px;">
	<div id="map" style="width:200px; height:200px;"></div>
</div>

<script>
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	  markers = handler.addMarkers(<%=raw @hash.to_json %>);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
	});

</script>