<% if venues.length > 0 %>
	<% venues.each do |venue| %>
		<%= link_to venue, remote: true, class: "remote-link tab-image" do %>
			<%= image_tag venue.avatar(:thumb), class: "venue-image", data: {toggle:"tooltip", placement:"bottom", title: venue.name} %>
		<% end %>
	<% end %>
<% else %>
	<p>We found no venues near your location that will accept Dogecoin.</p>
<% end %>
<script>
	$('.venue-image').tooltip();
</script>