<div class="content-block">
	<button id="load-yelp-suggestions" class="btn btn-info" style="float:right; top:9px; position:relative; padding:3px 5px">Load Yelp Suggestions</button>
	<h3>Add a venue</h3>
	<%= render 'venues/form' %>
</div>