<%= button_to vote_path(tag.id), method: :delete, remote: true, class: "btn btn-xs vote tag-"+tag.category, style:"color: #ba9133" do %>
	<span class="glyphicon glyphicon-thumbs-up"></span>
<% end %>
