$('#action-panel').slideUp('slow');
var player_track = $("#player-heading").data('track_id');
if (player_track == <%=@track.id%>) {
	$("#player-tags").html("<%= j render partial: 'show_tags', locals: {track: @track} %><button type='button' id='add-tag' class='btn btn-xs btn-default'><span class='glyphicon glyphicon-plus'></span><span class='glyphicon glyphicon-tag'></span></button>");
}
