@import 'bootstrap';

body { padding-top: 70px;}
.stats {
	overflow: auto;
	a {
		float: left;
		padding: 0 10px;
		border-left: 1px solid #eee;
		color: gray;
		&:first-child {
		}
		&:hover {
			text-decoration: none;
			color: #049cdb;
		}
	}
	strong {
		display: block;
	}
}

.user_avatars{
	overflow: auto;
	margin-top: 10px;
	.gravatar {
		margin: 1px 1px;
	}
}
