@import 'bootstrap';

@font-face {
	font-family: 'Glyphicons Halflings';
  src: font-path('glyphicons-halflings-regular.eot');
  src: font-path('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    font-path('glyphicons-halflings-regular.woff') format('woff'), 
    font-path('glyphicons-halflings-regular.ttf') format('truetype'), 
    font-path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
#search-form{
	display: inline-block;
}
#search_button{
	width: 18%;
}

.datetimepicker {
	color:black;
}

.glyphicon-remove{
	color:#BA4333;
	&:hover {
		color: #D4AE57;
		text-decoration:none;
	}
}
.alert-success{
	background-color:#268b41;
	color:white;
}

.form-control{
	color:black;
}

.user_avatars{
	overflow: auto;
	margin-top: 10px;
	.gravatar {
		margin: 1px 1px;
	}
}

.modal-content{
	padding:10px;
	color:black;
}
.button_to{
	display: inline-block;
}
