// Place all the styles related to the musics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background: image_url('moonSurface.jpg') no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-color:#333;
	color:white;

}
.navbar-brand{
	color: #fbc213;
}
h3{
	padding-top:10px;
}
.content-block{
	padding-bottom:1px;
	background-color: rgba(0,0,0,0.7);
}
.clickable{
	color:black;
}
