// Place all the styles related to the musics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

#sidebar{
	display:none;
}

#topbar{
	display:none;
	.content-block{
		margin:0;
		padding-bottom:5px;
		padding-top: 5px;
	}
}

.underlined-header{
	border-bottom: 1px solid white;
}

#map {
	img {
		max-width: none;
	}
	label {
		width: auto;
		display:inline;
	}
}

.size-button{
	position:absolute;
	right:20px;
	top:5px;
}

.content-block{
	margin-bottom:20px;
	padding:10px 20px;
	background-color: rgba(0,84,104,0.9);
	@include box_sizing;
}

.logged-text{
	color:#777777;
}

#uploads_container{
	padding:10px;
}

.upload {
	width:100%;
}

#tags{
	margin-top:5px;
}

.tag-Genre{
	background-color:#BA4333;
}

.tag-Trend{
	background-color:#2D3F7E;
}

.tag-Style{
	background-color:#268B41;
}

.tag-City{
	background-color:#BA7633;
}

.tag{
	&:hover{
		color:#D47A6F;
		border-color:none;
	}
}

.btn.delete {
	position:relative;
	left: -12px;
}

.btn.vote {
	color:white;
	position:relative;
	left:-3px;
}

.venue-image{
	margin-left:-4px;
	&:first-child{
		margin-left:0;
	}
}