// Place all the styles related to the musics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

html{	height:100%; }

body {
	line-height:1;
	padding-top: 70px;
	height:100%;
	background: image_url('moonSurfaceColorized.jpg') no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-color:#333;
	color:white;
	.stats {
		overflow: auto;
		a {
			float: left;
			padding: 0 10px;
			border-left: 1px solid #eee;
			color: gray;
			&:first-child {
			}
			&:hover {
				text-decoration: none;
				color: #049cdb;
			}
		}
		strong {
			display: block;
		}
	}
}

.btn-primary{
	background-color:#005d74;
	border-color: #005d74;
	&:hover{
		background-color:#4896A8;
		border-color:#4896A8;
	}
}

#wrap{
	padding-bottom:50px;
}
#footer{
	position:fixed;
	bottom:0px;
	width:100%;
	font-size:12px;
	padding-top:10px;
	min-height:30px;
	height:auto;
	background-color:#005d74;
	}

a {
	color: #D47A6F;
	&:hover{
		color: #D4AE57;
		text-decoration:none;
	}
}

.navbar-brand{
	color: #fbc213;
}
h2{
	margin-top:0;
	padding-top:10px;
	}

h3{
	margin-top:0;
	padding-top:10px;
}
.content-block{
	margin-bottom:20px;
	padding:10px 20px;
	background-color: rgba(0,84,104,0.9);
	@include box_sizing;
}

.navbar-default {
	margin-bottom:0;
	.navbar-brand{
	font-size:35px;
	color:#BA9133;
}
	li{
		font-size:30px;
	}
}
.logged-text{
	color:#777777;
}
#uploads_container{
	padding:10px;
}
.upload
{
	width:100%;
}
#file.form-control{ height:100%;}
.progress{
	height:5px;
}
.progress-bar-success{
	background-color:	#268b41;
}

#tags{
	margin-top:5px;
}

.tag-Genre{
	background-color:#BA4333;
}

.tag-Trend{
	background-color:#2D3F7E;
}

.tag-Style{
	background-color:#268B41;
}

.tag-City{
	background-color:#BA7633;
}

.tag{
	&:hover{
		color:#D47A6F;
		border-color:none;
	}
}

.btn.delete {
	position:relative;
	left: -12px;
}

.btn.vote {
	color:white;
	position:relative;
	left:-3px;
}
