// Place all the styles related to the musics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

#main{
	padding:0 15px;
}

.slim-padding{
	padding-left:5px !important;
	padding-right:5px !important;
}

.underlined-header{
	border-bottom: 1px solid white;
}

#map {
	img {
		max-width: none;
	}
	label {
		width: auto;
		display:inline;
	}
}

.size-button{
	background-color: transparent;
	border: none;
	color: white;
	position:absolute;
	right:5px;
	top:-1px;
	&:hover{
		background-color: #BA9132;
		color:black;
	}
}

.content-block{
	margin-bottom: 10px;
	padding: 5px 20px;
	background-color: rgba(0,84,104,0.9);
	@include box_sizing;
}

.logged-text{
	color:#777777;
}

#uploads_container{
	padding:10px;
}

.upload {
	width:100%;
}

#tags{
	margin-top:5px;
}

.tag-Genre{
	background-color:#BA4333;
}

.tag-Trend{
	background-color:#2D3F7E;
}

.tag-Style{
	background-color:#268B41;
}

.tag-City{
	background-color:#BA7633;
}

.tag{
	&:hover{
		color:#D47A6F;
		border-color:none;
	}
}

.btn.delete {
	position:relative;
	left: -12px;
}

.btn.vote {
	color:white;
	position:relative;
	left:-3px;
}

.tab-image{
	margin-left:-4px;
}

.user-profile{
	margin: 0 0 10px;
}

.featured-media{
	margin-top:0;
	.featured-media-body{
		margin-bottom:10px;
	}
}
.verified-image{
	height: 30px;
	float: left;
	position:absolute;
}

.at-sign{
	height:50px;
	width:50px;
	text-align:center;
	vertical-align:middle;
	padding-bottom:5px;
	font-size:45px;
	&.description{
		font-size:12px;
	}
}