<div>
	<%= image_tag 'dogeIcon.jpg', style:"max-height:100px", class: "img-responsive" %>
	<p>When you play a song, it will show up here. You can rearrange the order of these songs by dragging them into position.</p>
</div>
