<div class="form-group">
	<%= s3_uploader_form callback_url: musics_url,
		id: "s3_uploader",
		callback_param: "music[direct_upload_url]",
		expiration: 24.hours.from_now.utc.iso8601,
		max_file_size: 25.megabytes do %>
		<%= file_field_tag :file, multiple: true, class: "form-control" %>
	<% end %>

	<div id="uploads_container"></div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#s3_uploader').S3Uploader({
			remove_completed_progress_bar: false,
			progress_bar_target: $('#uploads_container')
		});

		$('#s3_uploader').bind('s3_upload_failed', function(e, content) {
			return alert(content.filename + " failed to upload.");
		});
	});
</script>

<script id="template-upload" type="text/x-tmpl">
	<div id="upload_{%=o.unique_id%}" class="upload">
		<div class='form-holder'><h5>{%=o.name%}</h5></div>
		<div class="progress progress-striped active"><div class="bar progress-bar" role="progressbar" style="width: 0%"></div></div>
	</div>
</script>
