<p>Welcome! Welcome!</p>
<div class="content-block">
	<h3>Recent Tracks</h3>
	<% @new_tracks.each do |track| %>
		<%= link_to track.name, playlist_ranks_path(@playlist, music_id:track.id),method: "post", remote: true %><br />
	<% end %>
</div>
<div class="content-block">
	<h3>Active Users</h3>
	<% @active_users.each do |user| %>
		<%= link_to user.username, user, remote: true %><br />
	<% end %>
</div>
