<%= form_for @music, remote: true, html: {id: "rename_"+@music.id.to_s, class: "form-inline"} do |f| %>
	<%= f.text_field :name, placeholder: params[:filename], class: "form-control", style: "min-width:50%;" %>
	<%= f.submit "Rename", class: "btn btn-default" %>
<% end %>

<script type="text/javascript">
	$("#rename_<%=@music.id%>").bind("ajax:success", function(e) {
  	$(this).append("<p class='alert alert-success' style='display:inline-block; line-height:0.1; margin-bottom:0;'>Track renamed!</p>");
		$(this).children('.alert').delay(3000).fadeOut('slow');
	}).bind("ajax:error", function(e) {
	  $(this).append("<p class='alert-danger alert' style='display:inline-block; line-height:0.1; margin-bottom:0;'>Uh-oh, something didn't work right.</p>");
		$(this).children('.alert').delay(3000).fadeOut('slow');
	});
</script>
