<div class="container">
	<div class="col-md-12">
		<h1>Music</h1>
		<ul>
			<% @musics.each do |music| %>
				<script type="text/javascript">
					$(document).ready(function(){
						$("#jquery_jplayer_1").jPlayer({
							supplied: "mp3",
							ready: function () {
								$(this).jPlayer("setMedia", {mp3: "<%= music.upload.url %>"} );
							}
						});
					});
				</script>		
				<li><%= music.upload_file_name %></li>
				<div id="jquery_jplayer_1"></div>
				<div id="jp_container_1">
					<a href="#" class="jp-play">Play</a>
					<a href="#" class="jp-pause">Pause</a>
				</div>
			<% end %>
		</ul>
		<%= link_to 'New Music', new_music_path %>
	</div>
</div>

